 /* Normalisation */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}


a {
  color: #7952b3;
  text-decoration: underline;
}

a:hover {
  color: #61428f;
}