
/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq .faq-item {
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  }
  
  .faq .faq-item i {
    color: var(--accent-color);
    font-size: 18px;
    margin-right: 10px;
  }
  
  .faq .faq-item h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
  }
  
  .faq .faq-item p {
    font-size: 15px;
  }
  
  .faq .faq-item:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  
  .faq .faq-item:last-child {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  